*{
   font-family: 'Poppins', sans-serif;
   font-weight: inherit;
   color: #fff;
}

.center{
   text-align: center;
}

.PrimaryColor{
   color: #ffcb00;
}

.pb-0{
   padding-bottom: 0px;
}

.ml-2{
   margin-left: 10px;
}
.ml-3{
   margin-left: 15px;
}

.mt-2{
   margin-top: 10px;
}

.dfjcc{
   display: flex;
   justify-content: center;
   align-items: center;
}

.dfjcsa{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.dfjcsb{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media only screen and (max-width:768px){
   h1{
      font-size: 26px;
   }
   h2{
      font-size: 18px;
   }
   h3{
      font-size: 14px;
   }
}

